<ul class="nav nav-tabs" id="Menus" style = "margin-right:20px ;font: bold 1.20em Tahoma; sans-serif;">
	<li class="active">
		<a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق القوة وتمام الأفراد" >القـــوة</a>
	</li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق تأمين الدخول علي منظومة ق.ق.ب و مراقبة سير العمل للمستخدمين">المستخدمين</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="قاعدة إدخال البيانات">إدخال البيانات</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title=" تطبيق بنك المعلومات">بنك المعلومات</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق أجازات القادة">اجازات القادة</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق الحافظة الآلية و متابعة التأشيرات و الإلتزمات الرئيسية للسيد قائد القوات البحرية/السيد رئيس الأركان">الحافظة</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق المكافآت و الحوافز">المكافآت و الحوافز</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق متابعة عضويات دور القوات البحرية" >عضويات</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق الأرشيف الإلكتروني لقيادة القوات البحرية" >الأرشيف</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق التصوير بالكمبيوتر" >التصوير</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق المتابعة الآلية لوحدات القوات البحرية" >المتابعة</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيقات دعم و إتخاذ القرار الإداري" >دعم وإتخاذ القرار</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="شاشات سير العمل اليومي" >سير العمل</a></li>
</ul>

	<div class="well" style="margin:20px">

		<div style="float:right; margin-top: -10px;">
			<h4>جندى / يحيى السقا</h4>
		</div>


		<button  style="margin-right:20px;" class="btn btn-success " ><i class=" icon-print  icon-white"></i> طــباعـة البــيــان </button>
				<div  dir="ltr" style="float:left">

			<div  id="datetimepicker2" class="input-append date" style="margin-left: 50px;">
			  	<span style="float:right; margin-left: 25px; margin-top: 5px;" class="label label-info">إلى يـــــــوم</span>
			    <input style="float:left; width:200px;" data-format="dd/MM/yyyy" type="text"></input>
			    <span class="add-on">
			      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
			      </i>
			    </span>
			</div>


			<div id="datetimepicker1" class="input-append date" style="margin-left: 70px;">
				<span style="float:right; margin-left: 25px; margin-top: 5px;" class="label label-info">مـن يـــــــوم</span>
				<input style="float:left; width:200px;" data-format="dd/MM/yyyy" type="text"></input>
			    <span class="add-on">
			      <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
			    </span>
			</div>

		</div>

	</div>

	<table  style="margin:20px; width:97%;" class="table table-bordered">
 		<tr >
 			<th width="10%" ><h4><center>نوع الأجازة</center></h4></th>
 			<th  width="15%"><h4><center>من يوم</center></h4></th>
 			<th  width="15%"><h4><center>إلى يوم</center></h4></th>
 			<th  width="10%"><h4><center>الفترة</center></h4></th>
 			<th  width="25%"><h4><center>ملاحظات</center></h4></th>
 			
 		</tr>
 		
		<tr >
 			<td><h5><center>راحة</center></h5></td>
 			<td><h5><center>1/4/2013</center></h5></td>
 			<td><h5><center>2/4/2013</center></h5></td>
 			<td><h5><center>2</center></h5></td>
 			<td><h5><center>--</center></h5></td>
			

 		</tr>


 		<tr >
 			<td><h5><center>راحة</center></h5></td>
 			<td><h5><center>1/4/2013</center></h5></td>
 			<td><h5><center>2/4/2013</center></h5></td>
 			<td><h5><center>2</center></h5></td>
 			<td><h5><center>--</center></h5></td>

 		</tr>



 		<tr >
 			<td><h5><center>راحة</center></h5></td>
 			<td><h5><center>1/4/2013</center></h5></td>
 			<td><h5><center>2/4/2013</center></h5></td>
 			<td><h5><center>2</center></h5></td>
 			<td><h5><center>--</center></h5></td>

 		</tr>



 		<tr >
 			<td><h5><center>راحة</center></h5></td>
 			<td><h5><center>1/4/2013</center></h5></td>
 			<td><h5><center>2/4/2013</center></h5></td>
 			<td><h5><center>2</center></h5></td>
 			<td><h5><center>--</center></h5></td>

 		</tr>


 		<tr >
 			<td><h5><center>راحة</center></h5></td>
 			<td><h5><center>1/4/2013</center></h5></td>
 			<td><h5><center>2/4/2013</center></h5></td>
 			<td><h5><center>2</center></h5></td>
 			<td><h5><center>--</center></h5></td>

 		</tr>


 		<tr >
 			<td><h5><center>راحة</center></h5></td>
 			<td><h5><center>1/4/2013</center></h5></td>
 			<td><h5><center>2/4/2013</center></h5></td>
 			<td><h5><center>2</center></h5></td>
 			<td><h5><center>--</center></h5></td>

 		</tr>



 	</table>

</div>



<script>
$(document).ready(function() {

	$('#datetimepicker1').datetimepicker({
      language: 'ar-EG'
    });


    $('#datetimepicker2').datetimepicker({
      language: 'ar-EG'
    });

    $('#datetimepicker3').datetimepicker({
      language: 'ar-EG'
    });


    $('#datetimepicker4').datetimepicker({
      language: 'ar-EG'
    });



    $("#Menus > li > a").tooltip();

	$('.bs-docs-sidenav').affix();
	$('li').click(function(){
	//select tthe active element in the current list by $("#idOfTheList > .active")
	$("#"+this.parentElement.getAttribute("id")+" > .active").removeClass("active")
	this.setAttribute("class","active")
	});

	$(function () {
		$('#Menus').tab('show');
	})
	$('.carousel').carousel({interval: 4000});


});


</script>
