<!DOCTYPE HTML>
<html dir="rtl">
<head>
  <title>سكرتارية قيادة القوات البحرية</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="navbar navbar-fixed-top  navbar-inverse">
		<div class="navbar-inner" >
			<div class="container"  style = "text-align: center; margin-right:20px;font: normal .9em Tahoma, sans-serif; font-">
				<h4 class="navbar-text">منظومة فرع سكرتارية قيادة القوات البحرية</h4> 
			</div>
		</div>
	</header>	

<div id="main" role="main" style = "margin-right:20px;font: normal .80em Tahoma, sans-serif;">
	<!-- <ul class="nav nav-tabs" id="Menus" style = "margin-right:20px ;font: bold 1.20em Tahoma; sans-serif;">
	<li class="active">
		<a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق القوة وتمام الأفراد" >القـــوة</a>
	</li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق تأمين الدخول علي منظومة ق.ق.ب و مراقبة سير العمل للمستخدمين">المستخدمين</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="قاعدة إدخال البيانات">إدخال البيانات</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title=" تطبيق بنك المعلومات">بنك المعلومات</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق أجازات القادة">اجازات القادة</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق الحافظة الآلية و متابعة التأشيرات و الإلتزمات الرئيسية للسيد قائد القوات البحرية/السيد رئيس الأركان">الحافظة</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق المكافآت و الحوافز">المكافآت و الحوافز</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق متابعة عضويات دور القوات البحرية" >عضويات</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق الأرشيف الإلكتروني لقيادة القوات البحرية" >الأرشيف</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق التصوير بالكمبيوتر" >التصوير</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق المتابعة الآلية لوحدات القوات البحرية" >المتابعة</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيقات دعم و إتخاذ القرار الإداري" >دعم وإتخاذ القرار</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="شاشات سير العمل اليومي" >سير العمل</a></li>
</ul> -->
<%= yield %>
<div>

<footer class="navber-inner">
</footer>
</body>
</html>
