
<ul class="nav nav-tabs" id="Menus" style = "margin-right:20px ;font: bold 1.20em Tahoma; sans-serif;">
	<li class="active">
		<a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق القوة وتمام الأفراد" >القـــوة</a>
	</li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق تأمين الدخول علي منظومة ق.ق.ب و مراقبة سير العمل للمستخدمين">المستخدمين</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="قاعدة إدخال البيانات">إدخال البيانات</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title=" تطبيق بنك المعلومات">بنك المعلومات</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق أجازات القادة">اجازات القادة</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق الحافظة الآلية و متابعة التأشيرات و الإلتزمات الرئيسية للسيد قائد القوات البحرية/السيد رئيس الأركان">الحافظة</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق المكافآت و الحوافز">المكافآت و الحوافز</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق متابعة عضويات دور القوات البحرية" >عضويات</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق الأرشيف الإلكتروني لقيادة القوات البحرية" >الأرشيف</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق التصوير بالكمبيوتر" >التصوير</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيق المتابعة الآلية لوحدات القوات البحرية" >المتابعة</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="تطبيقات دعم و إتخاذ القرار الإداري" >دعم وإتخاذ القرار</a></li>
	<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="شاشات سير العمل اليومي" >سير العمل</a></li>
</ul>


<div class="row">

	<div class="span2  well" role="dialog"  style="float:left; border-radius: 21px; width:245px; margin-top: 30px; margin-left:80px" >

		<div class="modal-header">
			<h4><center>تعديل أجازات الأفــــراد</center> </h4>
		</div>
		
		</br>
		<div>
			<button class="btn btn-large btn-danger" type="button" style="margin-right:40px">تعــــــديل الأجازات</button>
			</br></br>
  			<button class="btn btn-large btn-info " type="button" style="margin-right:40px">بيـــــــــان الأجازات</button>
		</div>

		</br>
		<div class="modal-footer">
		</div>

	</div>



	<div class="span2 well" role="dialog"   style="float:left; border-radius: 21px; width:400px; margin-top: 0px; margin-left:80px" >

		<div>
			<div class="modal-header">
				<h4>تسجيـــل التمام اليومى للأفــــراد ...</h4>
			</div>
			<br>
			<div class="modal-body">
				<select style="width:370px;" tabindex="2">
					<option value="0">--- المجموعة ---</option>
					<option value="1">الحواسب</option>
					<option value="2">قسم الصادر</option>
					<option value="3">قسم الوارد</option>
					<option value="4">قسم الاشارات</option>
				</select>
				<br>
				<select style="width:370px;"  tabindex="2">
					<option value="0">--- اسم المستخدم ---</option>
					<option value="1">جندي/ياسين جمال محمد</option>
					<option value="2">جندي/يحيي السقا</option>
					<option value="3">جندي/هلال حامد هلال</option>
				</select>
				<br>
				<select style="width:370px;"  tabindex="2">
					<option value="0">--- نـــوع الأجــــازة ---</option>
					<option value="1">سنوية</option>
					<option value="2">عارضة</option>
					<option value="3">راحة</option>
					<option value="2">مأمورية</option>
					<option value="3">مرضية</option>
				</select>
				<br>

				<div class="well" dir="ltr">
				  <div id="datetimepicker1" class="input-append date">
				  	<span style="float:right; margin-left: 25px; margin-top: 5px;" class="label label-info">مـن يـــــــوم</span>
				    <input style="float:left; width:200px;" data-format="dd/MM/yyyy" type="text"></input>
				    <span class="add-on">
				      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
				      </i>
				    </span>
				  </div>

				  </br>
				  
				  <div  id="datetimepicker2" class="input-append date">
				  	<span style="float:right; margin-left: 25px; margin-top: 5px;" class="label label-info">إلى يـــــــوم</span>
				    <input style="float:left; width:200px;" data-format="dd/MM/yyyy" type="text"></input>
				    <span class="add-on">
				      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
				      </i>
				    </span>
				  </div>

				</div>

				<input placeholder="--- الملاحظات ---" type="text" style="width:355px; height:70px;"/>
				<br>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary">تسجيــــــــــــــــــــــــل</button>
			</div>

		</div>
	</div>



	<div class="span3 " style="float:right;">
		<ul  style="font: normal 15px Tahoma; margin-top: 30px; margin-right: 25px;" id="sideMenus" class="nav nav-list bs-docs-sidenav" >
			<li ><a href="#">تسجيل أنواع الأجازات<i class="icon-chevron-left"></i></a></li>
			<li><a href="#">بيانات طاقم فرع السكرتارية<i class="icon-chevron-left"></i></a></li>
			<li class="active"><a href="#">تسجيل التمام اليومي<i class="icon-chevron-left"></i></a></li>
			<li><a href="#">بيان بالخوارج عن اليوم<i class="icon-chevron-left"></i></a></li>
			<li><a href="#">بيان بالأجازات المتبقية<i class="icon-chevron-left"></i></a></li>
			<li><a href="#">بيانات ضباط صف طاقم السكرتارية<i class="icon-chevron-left"></i></a></li>
			<li><a href="#">بيانات جنود طاقم السكرتارية<i class="icon-chevron-left"></i></a></li>
			<li><a href="#">بيانات ضباط طاقم السكرتارية<i class="icon-chevron-left"></i></a></li>

		</ul>
	</div>




	

</div>






<script>
$(document).ready(function() {

	$('#datetimepicker1').datetimepicker({
      language: 'ar-EG'
    });


    $('#datetimepicker2').datetimepicker({
      language: 'ar-EG'
    });



    $("#Menus > li > a").tooltip();

	$('.bs-docs-sidenav').affix();
	$('li').click(function(){
	//select tthe active element in the current list by $("#idOfTheList > .active")
	$("#"+this.parentElement.getAttribute("id")+" > .active").removeClass("active")
	this.setAttribute("class","active")
	});

	$(function () {
		$('#Menus').tab('show');
	})
	$('.carousel').carousel({interval: 4000});


});


</script>
