<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @qowa_vacation_type.name %>
</p>


<%= link_to 'Edit', edit_qowa_vacation_type_path(@qowa_vacation_type) %> |
<%= link_to 'Back', qowa_vacation_types_path %>
